*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#0b1020;

color:white;

}

.login-card{

width:400px;

padding:40px;

background:#111827;

border:1px solid #1f2937;

border-radius:20px;

display:flex;

flex-direction:column;

gap:20px;

}

h1{

text-align:center;

color:#4f8cff;

}

p{

text-align:center;

color:#94a3b8;

margin-bottom:10px;

}

input,
select{

padding:14px;

border:none;

outline:none;

border-radius:10px;

background:#1f2937;

color:white;

width:100%;

margin-bottom:15px;

}

button{

width:100%;

padding:14px;

background:#2563eb;

border:none;

color:white;

font-weight:bold;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#1d4ed8;

}